/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import url('https://cdn.syncfusion.com/ej2/material.css');
.main-footer {
  background-color: rgb(218, 170, 153);

  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
}
#b {
  text-align: center;
  color: blueviolet;
}
.bot {
  display: flex;
  justify-content: center;
}
.colllll {
  display: flex;

  flex-wrap: wrap;
  height: auto;
  width: auto;
}
.calendarr {
  position: relative;
  left: 900px;
}
.devv {
  text-align: center;
  color: darkgoldenrod;
}
