#home {
  text-align: center;
  color: darkgoldenrod;
}
/* #cadd {
  width: 18rem;
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
} */
.row {
  /* display: flex;
  text-align: center;
  flex-wrap: wrap; */
}

.d-block {
  border-radius: 50px;
}
